.ordercart {
    margin-top: 150px;
    margin-left: 50px;
}

.order-cart-prod > img{
    width: 300px;
    height: 450px;
    object-fit: cover;
    object-position: center;
    margin-right: 20px;
}

.order-cart-prod {
    display: flex;
    margin: 50px;
}

.order-amount{
    width: 100px;
    height: 50px;
    font-size: 25px;
    padding-left: 20px;
    position: absolute;
    left: 41%;
    transform: translateX(-50%);
}

.order-cart-prod  p {
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.order-info-other {
    margin-top: 50px;
}

.order-prod-info {
    height: 450px;
    width: clamp(300px, 50vw, 600px);
    overflow-y: auto;
    overflow-x: hidden;
}

.order-info {
    width: 400px;
    border: 1px solid black;
    padding: 20px;
    height: 650px;
    margin-right: 50px;
}

.order-info-item {
    margin-bottom: 30px;
}
.order-info-item > textarea {
    resize: none;
    width: 300px;
    height: 150px;
    padding: 8px;
    font-weight: 800;
}

.order-info-item > h3 {
    font-weight: 400;
}

.ordercart {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1400px ) {
    .ordercart{
        flex-direction: column;
    }

    .order-info {
        margin-top: 50px;
        margin-left: 50px;
    }
}

@media only screen and (max-width: 800px ) {
    .order-info {
        margin-left: 0;
        width: 300px;
    }
    .order-cart-prod {
        flex-direction: column;
        margin-left: 0;
    }
}